.myBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 55px;
  border-radius: 18px;
  background-color: #9dd458;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
