.search {
  display: flex;
  align-items: center;
  width: 250px;
  height: 45px;
  outline: 1px solid #f3f3f3;
  border-radius: 10px;

  input {
    width: 90%;
    height: 100%;
    padding: 0px 10px;
  }

  input::placeholder {
    color: #c4c4c4;
  }

  img {
    margin-left: 5px;
    width: 18px;
  }
}
